
<!DOCTYPE html>

<html> 

  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
	<title>Contact</title>

	<style type="text/css">
	body { margin-left:15%; margin-right:15%;font-family:"helvetica"}

  body#background {
  background: url('https://media.giphy.com/media/HgOTeTofUZ2jC/giphy.gif') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
.trans {background-color:white; opacity:.8;
	padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;}
   </style>

	
  </head>
  <body id="background">
<div class="trans">
  <h1 align="center"> MBTA Locator</h1>
  
  <h2> Hello! Let's find your nearest station! </h2>
	
  <p><i>Where are you?</i></p>
	<form action="assignment_4.py" method="post">
	<p>Please input the your current location in Boston. When you are done,
	    please click on the Submit button.</p>
		<p>Location:
		<input type= "text" name="assignment_4.py" maxlength="70"/>
	<table>
		<tr><td><button type="submit" value="Submit">Submit</button></td>
		<td><input type="Reset" value="Reset" name="Reset"/></td></tr>
		
</table>

		
</form>
</div>
</body>
</html>